<h1>Gitteh Playground</h1>
<p><%= repo.path %></p>
<p>HEAD -> <%= head.name %> -> <%= head.target %></p>

<%
function displayEntries(entries) {
  str = "<ul>";
  for (var i=0; i<entries.length; i++) {
    var e = entries[i];
    str += "<li>" + e.name + (e.dir ? "/" : "");
    if (e.dir) {
      str += displayEntries(e.children);
    }
  }
  return str + "</ul>";
}
%>


<h2>Commit history</h2>
<% for (var i=0; i<commits.length; i++) { %>
<% var commit = commits[i]; %>
<p><%= commit.id %> – <%= commit.message %></p>
<% } %>

<h2>HEAD's tree</h2>
<%- displayEntries(entries) %>
